body{
margin:0;
font-family:Segoe UI, sans-serif;
background:#0d1117;
color:#e6edf3;
}

.container{
width:90%;
margin:auto;
}

header{
background:#161b22;
padding:15px 0;
border-bottom:1px solid #30363d;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:#e6edf3;
margin-left:25px;
text-decoration:none;
font-weight:500;
}

nav a:hover{
color:#58a6ff;
}

.logo{
color:#58a6ff;
}

.hero{
text-align:center;
padding:80px 20px;
}

.profile-img{
width:160px;
border-radius:50%;
margin-bottom:20px;
}

.tagline{
max-width:600px;
margin:auto;
color:#9da7b3;
}

.socials a{
color:#e6edf3;
font-size:22px;
margin:10px;
}

.section{
padding:60px 10%;
text-align:center;
}

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
margin-top:30px;
}

.project-card{
background:#161b22;
padding:25px;
border-radius:10px;
border:1px solid #30363d;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-5px);
border-color:#58a6ff;
}

.project-card a{
display:inline-block;
margin-top:10px;
color:#58a6ff;
text-decoration:none;
}

.cert-grid{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
}

.cert-grid img{
width:200px;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
border-top:1px solid #30363d;
color:#8b949e;
}
